{
  "parser": "babel-eslint",
  "node": true,
  "laxbreak": true,
  "esnext": true,
  "debug": true,
  "globals": {
    "console": true
  },
  "ignoreDelimiters": [
    {
      "start": "start-non-standard",
      "end": "end-non-standard"
    }
  ]
}