#  components 
node_modules/*
devshop/**/node_modules/*
!node_modules/app
.gitignore~
examples/esp-chat-react/js/bundle.js

# other 
**/.idea
**/.bower-*/
**/.tscache
**/*-debug.log
www/app/*
