docs
.eslintrc
examples/
.git
.gitignore
.npmignore
.idea
node_modules/
./NOTICE
src
tests
*.log
.travis.yml
book.json
NOTICE
webpack.dev.config.js
webpack.prod.config.js
microdi-js-*.tgz
.babelrc
jest.config
yarn.lock