__mocks__
docs
.eslintrc
examples/
.git
.gitignore
.npmignore
.idea
node_modules/
./NOTICE
src
tests
*.log
.travis.yml
book.json
NOTICE
webpack.config.js
esp-js-*.tgz
.babelrc
tsconfig.json
tslint.json
typings.json
jest.config
yarn.lock
.tsbuild
typings
!dist
!definitions
