{
  "setupFiles": [
    "<rootDir>/tests/__jest__/configureEspLogging.js"
  ],
  "transform": {
    "^.+\\.js$": "<rootDir>/tests/__jest__/babelJest.js",
    "\\.(ts|tsx)$": "<rootDir>/tests/__jest__/typeScriptPreprocessor.js"
  },
  "testRegex": "/tests/.*\\Tests\\.(js|ts)$",
  "testResultsProcessor": "node_modules/jest-teamcity-reporter",
  "moduleFileExtensions": [
    "ts",
    "tsx",
    "js"
  ]
}
