input, textarea, select, button {
    text-shadow: none;
    display: inline-block;
    margin: .5em .5em .5em 0em;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 10px;
}

h1, h2, h3 {
    color: #333;
}

body {
    font-family: Arial, sans-serif;
}

label {
    margin: .5em .5em 0 0;
}